.card {
  min-height: 407px;
  max-width: 350px;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 22px;
  gap: 54px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .imgWrapper {
    width: 219px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}