.title {
  margin-bottom: 20px;
  color: #838383;
  font-size: 20px;
  font-weight: 600;
}

.cart {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 127px;

  .cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cartSummary {
    width: 350px;
    align-self: start;
    position: sticky;
    top: 20px;

    background-color: #FFFFFF;
    border-radius: 30px;

    .summaryTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 22px;

      p {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .proceedBtn {
      background-color: black;
      color: #FFFFFF;
      padding: 22px;
      border-radius: 20px;
      width: 100%;
      font-size: 17px;
      font-weight: 600;
      transition: transform .3s;

      &:hover {
        transform: scale(1.05);
      }

      &:disabled {
        background-color: #838383;
        cursor: not-allowed;
      }
    }
  }
}